[Desktop Entry]
Encoding=UTF-8
Name=Pptp
Comment=Pptp P2P Cryptocurrency
Comment[fr]=Pptp, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pptp, eşten eşe kriptografik sanal para birimi
Exec=pptp-qt %u
Terminal=false
Type=Application
Icon=pptp128
MimeType=x-scheme-handler/pptp;
Categories=Office;Finance;
